@import "scss-variables";

#Main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3rem;
	align-items: start;
}

.section-images {
	position: sticky;
	top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	img, svg {
		width: 30vw;
		align-self: center;
		justify-self: center;
	}
}

.svg-text {
	fill: var(--colorFont);
}

@media (max-width: #{$media-screen-mobile}) {
	#Main {
		grid-template-columns: 1fr;
		gap: unset;
		padding: 1rem;
	}
	.section-images {
		position: relative;
		top: unset;
	}
}
