@import "root";
@import "fonts";
@import "transitions";
@import "headers";
@import "index";
@import "scss-variables";

html {
	font-family: FiraCode, monospace;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorBackground);
}

main {
	min-height: calc(100vh - #{$footer-min-height * 2});
}

@media (max-width: #{$media-screen-mobile}) {

}
