@import "scss-variables";

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
	background: var(--colorCyanC);
}

/* Scroll END */
html {
	scroll-behavior: smooth;
}

:root {
	--colorFont: rgb(41, 41, 41);
	--colorBackground: rgb(250, 250, 250);
	--colorRed: rgb(235, 35, 35);
	--mainWidth: 75vw;
	//--section-content-width: 40vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		--colorFont: rgb(250, 250, 250);
		--colorBackground: rgb(41, 41, 41);
	}
}

@media (max-width: #{$media-screen-mobile}) {
	:root {
		--mainWidth: 90vw;
	}
}
